/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text-nubi {
   color: #008080;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem;
}

/*============= NAVIGATION =============*/

.navbar {
   padding: .7rem 1rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
}

.navbar-nav li {
   padding-right: .8rem;
}

.navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
}

.navbar-brand {
   color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-brand.active,
.navbar-brand:hover {
   color: #008080;
}
.custom-toggler-icon {
   color: white;
   font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}



/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn,
.svg-inline--fa {
   transition: all .6s ease;
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
   position: relative;
   width: 100%;
   height: 100vh;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.home-inner {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/nubi-landing-page.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}

/*-- Landing Page Caption --*/
.caption {
   z-index: 1;
   position: absolute;
   top: 38%;
   width: 100%;
   max-width: 100%;
}
.caption h1 {
   font-size: 4.5rem;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem;
}
.caption h3 {
   font-size: 2.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}